html{overflow: hidden;}
body{
  height: 100vh;;
  width: 100%;
  margin: 0px;
  padding: 0;
  background: #111;
  overflow: hidden;
  position: relative;
}
.loadanim{
  /*display: none;*/
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #C6A7A4;
}
.loadanim .back{
  position: absolute;
  height: 160px;
  width: 100px;
  background: #111;
  top: calc(50% - 80px);
  left: calc(50% - 50px);
}
.loadanim .front{
  position: absolute;
  color: #ccc;
  font-family: 'Playfair Display';
  font-size: 50px;
  height: 160px;
  width: 100px;
  top: calc(50% - 80px);
  left: calc(50% - 50px); 
  text-align: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

body .navbar {
  position: relative;
  height: 50px;
  max-height: 70px;
  min-height: 40px;
  background: #1B1B1B;
}

body .navbar .logo {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #fff;
  left: 15px;
  bottom: 0px;
}
.navbar .logo a{
  color: #fff;
  text-decoration: none;
}
body .navbar .hamburgermenu {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

body .navbar .hamburgermenu span {
  height: 5px;
  width: 100%;
  background: #fff;
  position: absolute;
}

body .navbar .hamburgermenu span:nth-child(1) {
  top: 05px;
}

body .navbar .hamburgermenu span:nth-child(2) {
  top: 15px;
}

body .navbar .hamburgermenu span:nth-child(3) {
  top: 25px;
}

body .overlaynav {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #1B1B1B;
  top: -110vh;
  left: 0px;
  /*-webkit-transition: top .5s ease;*/
/*  transition: top 0s;
  transition-delay: 1s;
*/  overflow: hidden;
}
body .overlaynav ul.links{
  height: 100%;
  width: 100%;
  position: absolute;
  /*top:  7vh;*/
  margin: 0px;
  margin-left: 30px;
}
body .overlaynav ul.links li.disabled{
  color: #3e3e3e !important;
  cursor: not-allowed;
}
ul.links li a{
  color: #ccc;
}
body .overlaynav ul.links li{
  cursor: pointer;
  margin-top: 10px;
  list-style: none;
  color: #ccc ;
  font-size:  3em;
  font-family: 'Poiret One', cursive;
  transition: letter-spacing .2s ease, color .2s ease;
  width:  50%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
body .overlaynav ul.links li:hover{
  letter-spacing: 5px;
  color: #fff;
  font-weight: bold;
}
body .overlaynav ul.links li.disabled{
  font-weight: lighter;
  letter-spacing: 5px;
    color: #3e3e3e;

}

body .overlaynav ul.hindi-text{
  height: 100vh;
  width: 50%;
  position: absolute;
  right: 20px;
  top: 0px;
  padding-top: 100px;
}
body .overlaynav ul.hindi-text li{
  width: 100%;
  text-align: right;
  color: #101010;
  list-style: none;
  font-size: 4em;
}
body .overlaynav ul.links li.tabbed{
  margin-left: 150px;
}

body .overlaynav .closebtn {
  height: 40px;
  width: 50px;
  background: #ccc;
  position: absolute;
  top: 20px;
  right: 20px;
  padding-top: 5px;
  cursor:  pointer;
}
body .overlaynav .closebtn span{
  color: #111;
  font-family: 'Rationale', sans-serif;
  font-size: 25px;
}

body .overlaynav.visible {
  top: 0px;
}

body .pagechange{
  height:100vh;
  width:0px;
  position: fixed;
  top:0px;
  left:0px;
  background:#C6A7A4;
  transform-origin: bottom;
}


.hero{
  height: calc(100vh - 50px);
  width: 100%;
  position: absolute;
  top: 50px;
  left: 0px;
  background:  #1B1B1B;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  overflow-x: hidden;

}
.hero .hero-head{
  font-size: 6em;
  font-family: 'El Messiri', sans-serif;
  color: #4B4B4B;
  margin-left: 100px;
}
.hero .hero-links{
  padding: 0;
  float: right;
  margin-right: 100px;
  margin-top: 90px;
}
.hero .hero-links li{
  margin-top: 10px;
  list-style: none;
  text-decoration: underline;
  font-family: 'Poiret One', cursive;
  text-decoration-thickness: 1px;
  text-underline-position: under;
  color: #ccc;
  font-size: 2em;
  cursor: pointer;
  transition: transform .2s ease, color .2s ease;

}
.hero .hero-links .bottom-line{
  width: 200%;
  transform: translate(-50%,10px);

}
.hero .hero-links li:hover{
  /*letter-spacing: 5px;*/
  transform: scale(1.2);
  color: #fff;
  font-weight: bold;
}
.hero-links a{
  color: #ccc;
}

.hero .hero-content{
  height: auto;
  width: 60%;
  background: #101010;
  margin-left: 20%;
  margin-top: 5%;
  /*padding: 60px;*/
  position: relative;
}

.hero .hero-content .hero-holder{
  margin-top: 2px;
  margin-bottom: 10px;
  /*border: 2px dashed coral;*/
  padding: 60px;
  /*display: flex;*/
}

.hero-holder .hero-image{
  margin: 5px;
}
.potrait-image{
  height: 400px;
}
.landscape-image{
  width:100%;
}
.potrait-image-nostreach{
  max-width: 243px;
}
.image-black-white{
  filter: grayscale(100%);
}
.hero-holder .hero-image.left{transform: translate(-150px,0px);}
.hero-holder .hero-image.right{transform: translate(110%,0px);}
.hero-holder .hero-image.centre{}


.hero-holder .hero-text{
  color: #fff;
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  margin: 5px;
}

.hero-holder .hero-content-head{
  color: #fff;
  font-size: 5em;
  font-family: 'Poiret One', cursive;
  margin: 5px;
}
.white-text{
  color:#fff !important;
  font-family: 'Explora', cursive;

}
.hero-holder .hero-subhead{
  margin: 5px;
  color:  #ccc;
  font-size: 3em;
  font-family: 'Poiret One', cursive;
}

.hero-content .flexy{
  display: flex;
}

/*.reveal-anim{
  position: relative;
}
.reveal-anim::before{
  content: ' ';
  position: absolute;
  top: 0;
  left: 0; 
  width: 100%;
  height: 100%;
  background: coral;
  transition:width .5s ease;
}
.reveal-anim.active::before{
  width: 0%;
  opacity: 0;
}*/
/*.reveal{
  height:100%;
  width:100%;
  position: absolute;
  top:0px;
  left:0px;
  background: #C6A7A4;
}*/

/*TEXT*/
body .text {
  /*padding-left: 10px;*/
  height: 93vh;
  width: 100%;
  position: relative;
  background: #1B1B1B;
  color: #818181;
}

body .text .aa {
  margin-left: 10px;
  height: 33%;
  width: calc(100% - 10px);
  position: relative;
}

body .text .aa .a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

body .text .bb {
  margin-left: 10px;
  position: relative;
}

body .text .bb .b {
  position: absolute;
  font-family: 'Playball', cursive;
  font-size: 2em;
  -webkit-transform: translate(105px, 50px);
          transform: translate(105px, 50px);
}

body .text .cc {
  margin-left: 10px;
  height: 33%;
  width: 100%;
  width: calc(100% - 10px);
  color: #fff;
  position: relative;
}

body .text .cc .c {
  font-size: 10em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

body .text .cc .d {
  font-family: 'Playfair Display', serif;
  color: #818181;
  font-size: .3em;
}

body .text .dd {
  margin-left: 10px;
  font-family: 'Ultra', serif;
  font-weight: lighter;
  position: relative;
  height: 33%;
  width: 100%;
  width: calc(100% - 10px);
}

body .text .dd .e {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
}


.student {
  color: #C6A7A4 !important;
  font-family: 'Abril Fatface', cursive !important;
}

.bibil {
  color: #afc6a4 !important;
  font-family: 'Great Vibes', cursive !important;
}

.developer {
  color: #a6a4c6 !important;
  font-family: 'Great Vibes', cursive !important;
}

.abbr-autowrite {
  text-decoration: none;
}

#scroll-down {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 100px;
  right: -20px;
}

.pointy {
  height: 2px;
  width: 20px;
  background: #262626;
  background: #ccc;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 30px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.pointy:nth-child(2) {
  left: 50px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-down {
  -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: #262626;
  background: #ccc;
  content: ' ';
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}



/*Custom Classes*/
.center-text{
  text-align: center;
}
.back-invert{
  backdrop-filter: invert(1);
  border-color: coral !important;
}
.hearts{
  position: absolute;
  height: 50px;

  bottom: 20px;
  right: 20px;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 700px) {
  .mj-dmaj-def,.mj-dmin-def{
    opacity: 0;
  }
  .hearts{
    bottom: 10px;
    left: calc(50% - 70px);
  }
  body .text .cc .c {
    font-size: 6em;
  }
  body .text .cc .d{
    display: none;
  }
   body .text .aa .a {
      font-size: 3em;
   }
   /*NAVPANE*/
   .overlaynav ul.links {
    margin: 10px !important;
    padding:  0px;

   }
   body .overlaynav ul.links li.disabled:hover{
    color: #3e3e3e;
   }
   body .overlaynav ul.links li:hover{
    color: #fff;
    letter-spacing: 0px;
    font-weight: lighter;
   }
   body .overlaynav ul.links li{
    font-size: 2.5em;
    width: 100%;
    margin: 10px;
    padding: 0;
   }
   body .overlaynav ul.links li.tabbed{
    margin-left: 0px ;
   }

   .hero{

   }
   .hero .hero-head{
    font-size: 3em;
    margin: 0px;
    width: 100%;
    margin-left: 25%;
   }
   .hero .hero-content{
    width: 90%;
    margin-left: 5%;
   }
   .hero-content .hero-image{
    height: 400px;
    max-width: 500px;
    /*margin-top: px;*/
    height: auto;
    margin-left: 0px;
   }
   
   .hero-holder .hero-text{
    font-size: 6vw;
   }
   .hero-holder .hero-subhead{
    font-size: 11vw;
   }
   .hero-links.top-link{
    display: none;
   }
   .hero-content .hero-holder{
    padding: 10px !important;
   }
   .hero-content .hero-holder.flexy{
    display: block !important;
   }
}



body .overlaynav ul.links li.disabled a{
  color: #3e3e3e !important;
  cursor: not-allowed;
}


/*FOR Week Selection*/

.container-items {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.item {
  position: relative;
  flex-grow: 1;
  font-family: 'Explora', cursive;
  font-size: 180px;
  font-weight: lighter;
  transition: all 300ms ease-in-out;
}

.item:hover {
  flex-grow: 2;
  font-size: 230px;
}

.item span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ccc;
}

img {
  width: 100%;
}

.container-img-wrap {
  position: absolute;
  top: -60rem;
  left: -80px;
  width: 300px;
  height: 400px;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}

.container-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

@media (max-width: 900px) {
  .container-items {
    height: 100px;
  }
  .item {
    font-size: 20px;
  }
  .item:hover {
    flex-grow: 1;
    font-size: 20px;
  }
  .container-img-wrap {
    display: none;
  }
  .hero-holder .hero-content-head{
    font-size: 15vw;
   }
}

.wrapper{
  background: red;
}


/* SCROLLBAR */
.scrollbar-custom::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}