* {
  padding: 0px;
  margin: 0px;
}
html{overflow: hidden;}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

body .navbar {
  position: relative;
  height: 50px;
  max-height: 70px;
  min-height: 40px;
  background: #111;
}

body .navbar .logo {
  position: absolute;
  font-family: 'Playfair Display', serif;
  font-size: 40px;
  color: #fff;
  left: 15px;
  bottom: 0px;
}

body .navbar .hamburgermenu {
  height: 100%;
  width: 50px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

body .navbar .hamburgermenu span {
  height: 5px;
  width: 100%;
  background: #fff;
  position: absolute;
}

body .navbar .hamburgermenu span:nth-child(1) {
  top: 05px;
}

body .navbar .hamburgermenu span:nth-child(2) {
  top: 15px;
}

body .navbar .hamburgermenu span:nth-child(3) {
  top: 25px;
}

body .text {
  /*padding-left: 10px;*/
  height: 93vh;
  width: 100%;
  position: relative;
  background: #111;
  color: #818181;
}

body .text .aa {
  margin-left: 10px;
  height: 33%;
  width: 100%;
  position: relative;
}

body .text .aa .a {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 4em;
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

body .text .bb {
  margin-left: 10px;
  position: relative;
}

body .text .bb .b {
  position: absolute;
  font-family: 'Playball', cursive;
  font-size: 2em;
  -webkit-transform: translate(105px, 50px);
          transform: translate(105px, 50px);
}

body .text .cc {
  margin-left: 10px;
  height: 33%;
  width: 100%;
  color: #fff;
  position: relative;
}

body .text .cc .c {
  font-size: 10em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

body .text .cc .d {
  font-family: 'Playfair Display', serif;
  color: #818181;
  font-size: .3em;
}

body .text .dd {
  margin-left: 10px;
  font-family: 'Ultra', serif;
  font-weight: lighter;
  position: relative;
  height: 33%;
  width: 100%;
}

body .text .dd .e {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2em;
}

body .overlaynav {
  position: fixed;
  height: 100vh;
  width: 100%;
  background: #111;
  top: -110vh;
  left: 0px;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
  overflow: hidden;
}
body .overlaynav ul.links{
  height: 100%;
  width: 100%;
  position: absolute;
  /*top:  7vh;*/
  margin-left: 30px;
}
body .overlaynav ul.links li.disabled{
  color: #3e3e3e;
  cursor: not-allowed;
}
body .overlaynav ul.links li{
  cursor: pointer;
  margin-top: 10px;
  list-style: none;
  color: #ccc;
  text-decoration: none;
  font-size:  3em;
  font-family: 'Poiret One', cursive;
  transition: letter-spacing .2s ease, color .2s ease;
  width:  50%;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-position: under;
}
body .overlaynav ul.links li:hover{
  letter-spacing: 5px;
  color: #fff;
  font-weight: bold;
}
body .overlaynav ul.links li.disabled{
  font-weight: lighter;
  letter-spacing: 5px;
}

body .overlaynav ul.hindi-text{
  height: 100vh;
  width: 50%;
  position: absolute;
  right: 20px;
  top: 0px;
  padding-top: 100px;
}
body .overlaynav ul.hindi-text li{
  width: 100%;
  text-align: right;
  color: #191919;
  list-style: none;
  font-size: 4em;
}
body .overlaynav ul.links li.tabbed{
  margin-left: 150px;
}

body .overlaynav .closebtn {
  height: 40px;
  width: 50px;
  background: #ccc;
  position: absolute;
  top: 20px;
  right: 20px;
  padding-top: 5px;
  cursor:  pointer;
}
body .overlaynav .closebtn span{
  color: #111;
  font-family: 'Rationale', sans-serif;
  font-size: 25px;
}

body .overlaynav.visible {
  top: 0px;
}

body .pagechange{
  height:100vh;
  width:100%;
  position: fixed;
  top:0px;
  left:-200%;
  background:#C6A7A4;
  transform-origin: bottom;
}






.student {
  color: #C6A7A4 !important;
  font-family: 'Abril Fatface', cursive !important;
}

.bibil {
  color: #afc6a4 !important;
  font-family: 'Great Vibes', cursive !important;
}

.developer {
  color: #a6a4c6 !important;
  font-family: 'Great Vibes', cursive !important;
}

.abbr-autowrite {
  text-decoration: none;
}

#scroll-down {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 100px;
  right: -20px;
}

.pointy {
  height: 2px;
  width: 20px;
  background: #262626;
  position: absolute;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 30px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.pointy:nth-child(2) {
  left: 50px;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.arrow-down {
  -webkit-animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: elasticus 2s cubic-bezier(1, 0, 0, 1) infinite;
  /* IE 10+, Fx 29+ */
  animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  -webkit-animation-direction: reverse;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 90px;
  background: #262626;
  content: ' ';
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}





/*MEDIA QUERIES*/
@media screen and (max-width: 492px) {
  .mj-dmaj-def,.mj-dmin-def{
    opacity: 0;
  }
  body .text .cc .c {
    font-size: 6em;
  }
   body .text .aa .a {
      font-size: 3em;
   }
   /*NAVPANE*/
   body .overlaynav ul.links {
    margin-top: 50px;
    margin-left: 30px;
   }
   body .overlaynav ul.links li{
    font-size: 2.5em;
    width: 100%;
   }
   body .overlaynav ul.links li.tabbed{
    margin-left: 0px;
   }
}